@keyframes changewidth {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}
h2 {
  text-align: center;
  margin: 5%;
  padding: 30px;
  position: relative;
  width: auto;
  &:after {
    content: "";
    position: absolute;
    width: 20%;
    height: 1px;
    bottom: 0;
    left: 40%;
    background-color: $h4_color;
    visibility: visible;
    animation-duration: 1s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
